@value unit, font, font-size from "@jetbrains/ring-ui/components/global/global.css";

:global(.widget-body) {
  margin: 0;
  padding: calc(unit * 2);

  background: #fff;

  font-size: font-size;
}

.widget {
  composes: font;

  width: 100%;

  margin: 0;
  padding: 0;

  white-space: nowrap;
}

:global(.flag) {
  position: relative;
  top: -4px;

  width: 22px;
  margin-right: 8px;
  padding-top: 5px;
  padding-right: 5px;

  vertical-align: middle;
}

.error {
  text-wrap: normal;

  color: red;
}

.formFooter {
  position: fixed;

  right: 0;
  bottom: 0;
  left: 0;
}

.languageProgressContainer {
  position: relative;
}

.languageProgressContainer:hover {
  cursor: pointer;

  background-color: var(--ring-hover-background-color);
}

.absoluteStatusDone {
  float: right;

  margin-left: auto;

  color: var(--ring-icon-success-color);
}

.absoluteStatusIncomplete {
  display: inline-block;
  overflow: hidden;

  height: 100%;
  margin-left: auto;

  text-align: right;
  white-space: nowrap;
  text-overflow: ellipsis;

  color: var(--ring-icon-error-color);
}

.languageProgressText {
  display: inline-block;
  float: left;

  min-width: 200px;
}

.statusTextContainer {
  display: flex;

  height: 24px;
  padding: 4px;
}

.translationBlockWrapper {
  min-width: 400px;
}

.progressBarContainer {
  display: inline-block;
  float: left;

  width: 100px;
  height: 5px;
  margin-right: 24px;

  margin-left: 24px;
  padding-top: 5px;

  border-bottom: 2px solid var(--ring-icon-error-color);
}

.progressBar {
  width: 100px;
  height: 100%;

  border-bottom: 2px solid var(--ring-icon-success-color);
}
