@value unit, font, font-size from "@jetbrains/ring-ui/components/global/global.css";

:global(.widget-body) {
    margin: 0;
    padding: calc(unit * 2);

    background: #fff;

    font-size: font-size;
}

.widget {
    composes: font;

    width: 100%;

    margin: 0;
    padding: 0;

    white-space: nowrap;
}

:global(.flag) {
    width: 22px;
    padding-top: 5px;
    padding-right: 5px;
    vertical-align: middle;
    position: relative;
    top: -4px;
    margin-right: 8px;
}

.error {
    text-wrap: normal;

    color: red;
}

.formFooter {
    position: fixed;

    right: 0;
    bottom: 0;
    left: 0;
}

.languageProgressContainer {
    position: relative;
}

.languageProgressContainer:hover {
    background-color: var(--ring-hover-background-color);
    cursor: pointer;
}

.absoluteStatusDone {
    float: right;

    margin-left: 24px;
    color: var(--ring-icon-success-color);

}

.absoluteStatusIncomplete {
    float: right;

    margin-left: 24px;
    color: var(--ring-icon-error-color);

}

.languageProgressText {
    float: left;
    min-width: 150px;
}

.statusTextContainer {
    height: 24px;
    padding: 4px;
}

.translationBlockWrapper {
    min-width: 400px;
}

.progressBarContainer {
    float: left;
    padding-top: 5px;
    border-bottom: 2px solid var(--ring-icon-error-color);
    height: 5px;
    width: 100px;
}

.progressBar {
    width: 100px;
    border-bottom: 2px solid var(--ring-icon-success-color);
    height: 100%;
}
